@tailwind base;
@tailwind components;
@tailwind utilities;

.first-list-none li:first-child::marker {
    content: '';
}

.svg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.svg-container svg{
    height:32px;
    background: #fff;
    z-index: 9;
}
.svg-container::before,
.svg-container::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #D8E1EB;
    border-radius: 1px;
}
.svg-container::before {
    height: 100%;
    top: 0;
}
.svg-container::after {
    height: 100%;
    bottom: 0;
}